* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.btn {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: white;
}

.btn:hover{
  background-color: rgba(0, 0, 0, 0.1);  
  } 
